@model BulkyBook.Models.ViewModels.ProductVm

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="border-1 p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary">
                @* If id==0 => Display: Create Product.
                    Else => Display: Update Product
                *@

                @(Model.Product.ID!=0?"Update":"Create") Product
            </h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Product.Title"></label>
            <input asp-for="Product.Title" class="form-control" type="text" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ISBN"></label>
            <input asp-for="Product.ISBN" class="form-control" type="text" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Author"></label>
            <input asp-for="Product.Author" class="form-control" type="text" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ListPrice"></label>
            <input asp-for="Product.ListPrice" class="form-control" type="number" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" type="number" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price50Book"></label>
            <input asp-for="Product.Price50Book" class="form-control" type="number" />
            <span asp-validation-for="Product.Price50Book" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price100Book"></label>
            <input asp-for="Product.Price100Book" class="form-control" type="number" />
            <span asp-validation-for="Product.Price100Book" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ImageURL"></label>
            <input type="file" id="uploadBox" name="file" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.CategoryID"></label>
            <select asp-for="Product.CategoryID" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected>
                    -- Select Category --
                </option>
            </select>
            <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.CoverTypeID"></label>
            <select asp-for="Product.CoverTypeID" asp-items="@Model.CoverTypeList" class="form-select">
                <option disabled selected>
                    -- Select CoverType --
                </option>
            </select>
            <span asp-validation-for="Product.CoverTypeID" class="text-danger"></span>
        </div>
        <div class="col-12">
            @if (Model.Product.ID != 0)
            {
                <button type="submit" class="btn btn-primary" style="width:150px">
                    Update
                </button>
            }
            else
            {
                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">
                    Create
                </button>
            }
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to list
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script> 
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
    </script>
}